@use "/app/styles/helpers" as *;

header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff;
}

.contentBox {
  display: grid;
  grid-template-columns: 160px 1fr 144px;
  align-items: center;
  gap: 24px;
  height: 72px;

  @include laptop {
    grid-template-columns: 160px 1fr 40px;
    gap: 14px;
  }

  @include tablet {
    justify-content: space-between;
    grid-template-columns: 160px 40px;
    height: 56px;
  }

  > button {
    @include laptop {
      margin-left: auto;
      max-width: 144px;
    }

    @include tablet {
      display: none;
    }
  }

  > img {
    @include tablet {
      width: 128px;
    }
  }
}

nav.nav {
  display: flex;
  align-items: center;
  gap: 8px;

  @include laptop {
    padding-top: 16px;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: -100vw;
    top: 72px;
    height: 100%;
    width: 100vw;
    min-height: -moz-available;
    min-height: fill-available;
    min-height: -webkit-fill-available;
    background: white;
    z-index: 9;
    transition: all 0.3s ease-in-out;

    &.show {
      left: 0;
    }
  }

  @include tablet {
    top: 56px;
  }

  > button {
    display: none;

    @include tablet {
      width: calc(100% - 32px);
      margin: 8px 16px;
      display: flex;
    }
  }

  > a {
    @extend %text;
    color: $black;
    padding: 8px 16px;
    font-weight: 600;

    @include laptop {
      height: 60px;
      padding: 16px 42px;
      width: 100%;
    }

    @include tablet {
      height: 56px;
      padding: 16px;
    }

    &:hover {
      color: $mainColor;
    }
  }
}

.burgerBox {
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: none;

  @include laptop {
    display: flex;
  }
}

.burgerButton {
  display: none;
  position: relative;
  width: 20px;
  height: 12px;

  @include laptop {
    display: block;
    z-index: 9;
  }
}

.burgerButton span,
.burgerButton:before,
.burgerButton:after {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 2.4px;
  left: 0;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
  border-radius: 4px;
}
.burgerButton span {
  top: 5px;
}

.burgerButton:before {
  top: 0px;
}
.burgerButton:after {
  bottom: 0px;
}

.burgerButton.active:before {
  transform: rotate(45deg);
  top: 4.4px;
}
.burgerButton.active:after {
  transform: rotate(-45deg);
  bottom: 4.9px;
}
.burgerButton.active span {
  transform: scale(0);
}
