@use "/app/styles/helpers" as *;

.box {
  position: relative;
  padding: 80px 0;

  @include tablet {
    padding: 48px 0;
  }

  > button {
    min-width: 334px;
    margin: 40px auto 0 auto;
  }

  h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 116.667%;
    margin-bottom: 24px;

    @include tablet {
      text-align: left;
      font-size: 32px;
      padding: 0 16px;
    }
  }

  p {
    max-width: 596px;
    text-align: center;
    color: $black;
    @extend %text;
    margin: 0 auto;

    @include tablet {
      text-align: left;
      margin-left: 16px;
    }
  }
}

.carouselImages {
  padding-top: 56px;
  display: flex;
  gap: 24px;
}

.arrow {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #fff;
  position: absolute;
  top: 50px;
  right: calc(50vw - 600px);
  left: initial;
  cursor: pointer;
  opacity: 1 !important;
  z-index: 9;

  @include laptop {
    right: 25px
  }

  @include tablet {
    display: none;
  }

  svg {
    transition: all 0.3s ease-in-out;
  }

  &.prevArrow {
    left: calc(50vw - 600px);
    right: initial;

    @include laptop {
      left: 25px;
    }

    svg {
      transform: rotate(180deg) scale(1);
    }

    &:hover {
      svg {
        transform: rotate(180deg) scale(1.2);
      }
    }

    &:active {
      svg {
        transform: rotate(180deg) scale(0.9);
      }
    }
  }

  &:hover {
    svg {
      transform: scale(1.2);
    }
  }

  &:active {
    svg {
      transform: scale(0.9);
    }
  }
}

.imgWrapper {
  padding-top: 40px;

  @include laptop {
    padding: 0;
    padding-top: 40px;
  }

  @include tablet {
    display: none;
  }

  img {
    width: 100%;
    height: auto;

    @include laptop {
      width: calc(100% + 28px);
      margin-left: -14px;
    }
  }
}

.mobileImgWrapper {
  display: none;

  @include tablet {
    padding: 18px 14px;
    width: fit-content;
    border-radius: 20px;
    background: #f0f7f8;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
}
