@use "/app/styles/helpers" as *;

.button {
  transition: all 0.3s ease-in-out;
  font-weight: 500 !important;
  cursor: pointer;
}

.contained {
  background: $mainColor;
  color: $white;

  &:hover {
    background: #1a59c4;
  }

  &:active {
    background: #093d94;
  }
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: rgba(41, 121, 255, 0.1);
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: rgba(76, 201, 255, 0.1);
  inherits: false;
}

@property --myColor3 {
  syntax: "<color>";
  initial-value: rgba(76, 255, 233, 0.1);
  inherits: false;
}

.outlined {
  background: linear-gradient(
    197deg,
    var(--myColor1) -11.48%,
    var(--myColor2) 67.84%,
    var(--myColor3) 123.3%
  );
  transition: --myColor1 0.4s, --myColor2 0.4s, --myColor3 0.4s !important;
  color: $mainColor;

  &:hover {
    --myColor1: rgba(41, 121, 255, 0.15);
    --myColor2: rgba(76, 201, 255, 0.15);
    --myColor3: rgba(76, 255, 233, 0.15);
  }

  &:active {
    --myColor1: rgba(41, 121, 255, 0.4);
    --myColor2: rgba(76, 201, 255, 0.4);
    --myColor3: rgba(76, 255, 233, 0.4);
  }
}

.white {
  background: #fff;
  color: $mainColor;

  &:hover {
    box-shadow: 0px 8px 12px -6px rgba(21, 81, 133, 0.24);
  }

  &:active {
    background: var(--Neutral-White---Active, #ebf3f9);
  }
}

.medium {
  border-radius: 14px;
  @extend %text;
  font-weight: 600;
  cursor: pointer;
  height: 48px;
  min-width: 144px;
  transition: all 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
}
