@use "/app/styles/helpers" as *;

.button {
  transition: all 0.3s ease-in-out;
  font-weight: 500 !important;
  cursor: pointer;
}

.contained {
  background: $mainColor;
  color: $white;

  &:hover {
    background: #1a59c4;
  }

  &:active {
    background: #093d94;
  }
}

.outlined {
  background: linear-gradient(
    197deg,
    rgba(41, 121, 255, 0.1) -11.48%,
    rgba(76, 201, 255, 0.1) 67.84%,
    rgba(76, 255, 233, 0.1) 123.3%
  );
  color: $mainColor;

  &:hover {
    background: linear-gradient(
      197deg,
      rgba(41, 121, 255, 0.15) -11.48%,
      rgba(76, 201, 255, 0.15) 67.84%,
      rgba(76, 255, 233, 0.15) 123.3%
    );
    box-shadow: 0px 14px 16px -6px rgba(21, 81, 133, 0.16);
  }

  &:active {
    background: linear-gradient(
      197deg,
      rgba(41, 121, 255, 0.4) -11.48%,
      rgba(76, 201, 255, 0.4) 67.84%,
      rgba(76, 255, 233, 0.4) 123.3%
    );
  }
}

.white {
  background: #fff;
  color: $mainColor;

  &:hover {
    box-shadow: 0px 8px 12px -6px rgba(21, 81, 133, 0.24);
  }

  &:active {
    background: var(--Neutral-White---Active, #ebf3f9);
  }
}

.medium {
  border-radius: 14px;
  @extend %text;
  font-weight: 600;
  cursor: pointer;
  height: 48px;
  min-width: 144px;
  transition: all 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
}
